.DS_Store
tmp/**/*
config/database.yml
public/uploads/**/*
db/*.sqlite3
vendor/elasticsearch-0.19.0/
.tags
.tags_sorted_by_file
tags
/eunis
/api_examples
species.rdf
log/development.log
log/test.log
.idea/.capistranoTasks
.idea/.generators
.idea/.rakeTasks
rspec_guard_result
Dotenv.env
ldap.yml
public/assets/source_maps/app/assets/javascripts/actions.coffee
public/assets/source_maps/app/assets/javascripts/actions.map
public/assets/source_maps/app/assets/javascripts/articles.coffee
public/assets/source_maps/app/assets/javascripts/articles.map
public/assets/source_maps/app/assets/javascripts/bootstrap.coffee
public/assets/source_maps/app/assets/javascripts/bootstrap.map
public/assets/source_maps/app/assets/javascripts/countries.coffee
public/assets/source_maps/app/assets/javascripts/countries.map
public/assets/source_maps/app/assets/javascripts/documents.coffee
public/assets/source_maps/app/assets/javascripts/documents.map
public/assets/source_maps/app/assets/javascripts/home.coffee
public/assets/source_maps/app/assets/javascripts/home.map
public/assets/source_maps/app/assets/javascripts/links.coffee
public/assets/source_maps/app/assets/javascripts/links.map
public/assets/source_maps/app/assets/javascripts/news.coffee
public/assets/source_maps/app/assets/javascripts/news.map
public/assets/source_maps/app/assets/javascripts/protected_areas.coffee
public/assets/source_maps/app/assets/javascripts/protected_areas.map
public/assets/source_maps/app/assets/javascripts/shared.coffee
public/assets/source_maps/app/assets/javascripts/shared.map
public/assets/source_maps/app/assets/javascripts/species.coffee
public/assets/source_maps/app/assets/javascripts/species.map
