.DS_Store
tmp/**/*
config/database.yml
public/uploads/**/*
db/*.sqlite3
vendor/elasticsearch-0.19.0/
.tags
.tags_sorted_by_file
tags
/eunis
species.rdf
log/development.log
log/test.log
.idea/.capistranoTasks
.idea/.generators
.idea/.rakeTasks
