- content_for :pageheader do
  Manage users

%table.table
  %thead
    %tr
      %th
        User
  %tbody
    - User.find_each do |u|
      %tr
        %td
          = link_to u.name, edit_user_registration_path(u)
          /= link_to u.name, edit_biseadmin_user_path(u)
