
- content_for :actions do

    .btn-group
        %a.btn.dropdown-toggle{ :href => '#', :data => { :toggle => 'dropdown' } }
            Everything
            %span.caret
        %ul.dropdown-menu
            %li
                %a{ :href => '#' }
                    Articles
            %li
                %a{ :href => '#' }
                    Species
            %li
                %a{ :href => '#' }
                    Documents

    / = link_to  new_article_path, :class => "btn" do
    /     %i.icon-plus
    /     New Article
    = form_tag articles_path, :method => 'get', :class => 'search-query pull-right' do       #
        = text_field_tag :query, params[:query], :class => "search-query", :placeholder => 'Search ...'    #


%h3 Embedded Search in Catalogue


.row-fluid
    .span3
        %div{ :style => 'background: gray; height: 350px' }

    .span9
        %div{ :style => 'background: gray; height: 350px' }


/ .btn-group.open
/     %button.btn.dropdown-toggle{ "data-toggle" => "dropdown" }
/         Action
/         %span.caret
/     %ul.dropdown-menu
/         %li
/             %a{ :href => "#" } Action
/         %li
/             %a{ :href => "#" } Another action
/         %li
/             %a{ :href => "#" } Something else here
