
<div class="catalogue-toolbar">
    <form id="catalogue-search-form">
        <div class="row-fluid">
            <div class="span4">
                <p class="field switch">
                    <input type="radio" id="bise-search" name="searchtype" value="bise" checked="checked" />
                    <input type="radio" id="advanced-search" name="searchtype" value="advanced" />
                    <label for="bise-search" class="bise-search selected">
                        <span>BISE Search</span>
                    </label>
                    <label for="advanced-search" class="advn-search">
                        <span>Advanced</span>
                    </label>
                </p>
            </div>
            <div class="span6">
                <input id="query" name="query" type="text"
                       class="input-medium search-query"
                       placeholder="Search..." autofocus="true">
            </div>
            <div class="span2">
                <button type="submit">&nbsp;&nbsp;Search</button>
            </div>
            <div class="span3" style="display:none;">
                <div class="select-field">
                    <span class="arrow-down"></span>
                    <select id="catalogue-area"></select>
                </div>
            </div>
        </div>
    </form>
</div>


<div class="catalogue-container">

    <div class="catalogue-sidebar">
        <div id="catalogue-queries" style="display: block; ">
            <ul></ul>
            <div id="results-count">About 0 results.</div>
        </div>

        <div id="catalogue-categories"></div>
        <div id="catalogue-facets"></div>
    </div>

    <div class="catalogue-no-results">
        <h1></h1>
    </div>

    <div class="catalogue-content span8" style="display:none">

        <div class="row-fluid" style="padding-bottom: 15px">
            <div class="span5">
                <div class="catalogue-options">
                    <div class="btn-group">
                        <a class="btn dropdown-toggle" data-toggle="dropdown">
                            Per Page
                            <span class="caret"></span>
                        </a>
                        <ul id="catalogue-per-page" class="dropdown-menu">
                            <li>
                                <a>10</a>
                            </li>
                            <li>
                                <a>20</a>
                            </li>
                            <li>
                                <a>30</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="span2 catalogue-status"></div>
            <div class="span5">
                <ul class="pager">
                    <li><a class="p">Prev</a></li>
                    <li><a class="n">Next</a></li>
                </ul>
            </div>
        </div>

        <ul id="catalogue-results" style=""></ul>

        <div class="row-fluid" style="margin-bottom: 20px">
            <div class="span4"></div>
            <div class="span4 catalogue-status"></div>
            <div class="span4" style="padding-top: 8px">
                <ul class="pager">
                    <li><a class="p">Prev</a></li>
                    <li><a class="n">Next</a></li>
                </ul>
            </div>
        </div>

    </div>
</div>


