%legend Biographical Region:
.row
  .col-lg-12
    - if object.biographical_region.present?
      .label.label-success= object.biographical_region
    - else
      No biogeographical region associated.
%br
