.row
  .col-md-6
    %legend Biodiversity Strategy Targets
    .row
      .col-lg-12
        - object.targets.each do |t|
          .label.label-success= t.name
  .col-md-6
    %legend Biodiversity Strategy Actions
    .row
      .col-lg-12
        - object.actions.each do |t|
          .label.label-success= t.name
%br