
BASE_GREEN              = #168130
BISE_GREEN              = rgb(117, 173, 10)
DARK_GREEN              = darken(BISE_GREEN, 20%)
// #386d03
BORDER_GREEN            = #0c501c


LIGHT_GRAY              = #dbdbdb
DARK_GRAY               = #606060
