/**
 * Stylesheet
 *
 * @namespace Catalogue
 * @class Base
 *
 * @author Jon Arrien Fernandez <jarrien@bilbomatica.es> || @jonarrien
 */

border-radius(n)
    -webkit-border-radius n
    -moz-border-radius n
    border-radius n
