/**
 * Stylesheet
 *
 * @namespace Catalogue
 * @class Layout
 *
 * @author Jon Arrien Fernandez <jarrien@bilbomatica.es> || @jonarrien
 */

@import 'catalogue.mixin.styl'

.catalogue-container{width:100%;*zoom:1;}.catalogue-container:before,.catalogue-container:after{display:table;content:"";line-height:0;}
.catalogue-container:after{clear:both;}
.catalogue-container:before,.catalogue-container:after{display:table;content:"";line-height:0;}
.catalogue-container:after{clear:both;}
.catalogue-container [class*="span"]{display:block;width:100%;min-height:20px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;float:left;margin-left:2.127659574468085%;*margin-left:2.074468085106383%;}
.catalogue-container [class*="span"]:first-child{margin-left:0;}
.catalogue-container .controls-row [class*="span"]+[class*="span"]{margin-left:2.127659574468085%;}

.catalogue-container .span12{width:100%;*width:99.94680851063829%;}
.catalogue-container .span11{width:91.48936170212765%;*width:91.43617021276594%;}
.catalogue-container .span10{width:82.97872340425532%;*width:82.92553191489361%;}
.catalogue-container .span9{width:74.46808510638297%;*width:74.41489361702126%;}
.catalogue-container .span8{width:65.95744680851064%;*width:65.90425531914893%;}
.catalogue-container .span7{width:57.44680851063829%;*width:57.39361702127659%;}
.catalogue-container .span6{width:48.93617021276595%;*width:48.88297872340425%;}
.catalogue-container .span5{width:40.42553191489362%;*width:40.37234042553192%;}
.catalogue-container .span4{width:31.914893617021278%;*width:31.861702127659576%;}
.catalogue-container .span3{width:23.404255319148934%;*width:23.351063829787233%;}
.catalogue-container .span2{width:14.893617021276595%;*width:14.840425531914894%;}
.catalogue-container .span1{width:6.382978723404255%;*width:6.329787234042553%;}


// .pagination
//     margin-top: 15px
//     color: rgb(51, 51, 51);
//     display: block;
//     font-family: Arial, Helvetica, sans-serif;
//     font-size: 16px;
//     height: 26px;
//     margin: 10px 0 0 0
//     padding-bottom: 5px;
//     padding-left: 0px;
//     padding-right: 5px;
//     padding-top: 0px;
//     width: 755px;
//     ul
//         color: rgb(51, 51, 51);
//         display: block;
//         font-family: Arial, Helvetica, sans-serif;
//         font-size: 16px;
//         height: 0px;
//         list-style-image: none;
//         list-style-position: outside;
//         list-style-type: none;
//         margin-bottom: 0px;
//         margin-left: 0px;
//         margin-right: 0px;
//         margin-top: 0px;
//         padding-bottom: 0px;
//         padding-left: 0px;
//         padding-right: 0px;
//         padding-top: 0px;
//         width: 755px;

//         li
//             display: inline
//             font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
//             font-size: 14px
//             height: auto
//             line-height: 20px
//             list-style-type: disc
//             text-align: center
//             width: auto

//             a
//                 border-radius(3px)
//                 -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
//                 box-shadow: rgba(0, 0, 0, 0.2) 0px 1px 2px 0px;
//                 background-image: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%, rgb(239, 239, 239) 100%);
//                 background-origin: padding-box
//                 background-size: auto
//                 border: 1px solid rgb(187,187,187)
//                 border-image-outset: 0px
//                 border-image-repeat: stretch
//                 border-image-slice: 100%
//                 border-image-source: none
//                 border-image-width: 1
//                 color: rgb(102, 102, 102)
//                 font-family: Arial, Helvetica, sans-serif;
//                 font-size: 14px;
//                 margin-right: 5px
//                 padding: 3px 7px
//                 text-align: center
//                 text-decoration: none
