- content_for :pageheader do
  Dashboard

- content_for :js do
  = javascript_include_tag "home"


.container
  .row
    .col-md-6
      %legend Published / Unpublished Content
      #overview-graph{ style: 'height: 380px', data: { overview: overview_data } }
    .col-md-6
      %legend Semantic Data
      #eunis-graph{ data: { eunis: eunis_data } }

  %hr

  .row
    .col-md-12
      %legend Content added last 12 months:
      #timeline-graph{ data: { timeline: timeline } }

  %br

