- content_for :pageheader do
  Dashboard

- content_for :js do
  = javascript_include_tag "home"


.container-fluid


  .row-fluid
    .span6
      %legend Published / Unpublished
      #overview-graph{ style: 'height: 380px', data: { overview: overview_data } }
    .span6
      %legend Semantic Data
      #eunis-graph{ data: { eunis: eunis_data } }

  .row-fluid
    .span12
      /#flot{ style: 'width: 100px;height: 100px; background:orange'}
      #timeline-graph{ data: { timeline: timeline } }

