.article_cell

    .cell-title
        = article.title
        / - if hit.has_key?'highlight' and hit['highlight'].has_key? 'title'
        /     = link_to raw(hit['highlight']['title'].first), doc
        / - else
        /     = link_to doc.title, doc

    %small by #{article.author} at #{article.created_at}
    %br
    / - if hit.has_key?'highlight' and hit['highlight'].has_key? 'attachment'
    /     - att_hits = hit['highlight']['attachment']

    /     .hits
    /         %ol{ :type => "I" }
    /             - att_hits.each do |h|
    /                 %li
    /                     %p.hit= raw '...' + h + '...'
    /     / = raw hit['highlight']['attachment'].first
    - unless article.concepts.nil?
        - article.concepts.each do |t|
            %span.label.label-success  t.title

/ <div style="padding: 3px; border-bottom: 1px dotted #6b6b6b; margin-bottom: 4px;">
/     <div class="cell-title">
/         <a href="{{url}}" style="display:inline-block;">{{article_title}}</a>
/     </div>
/     <small>
/         by {{author}} at {{date}}
/     </small>
/     <div>
/         {{#tags}}
/             <span class="label label-success">
/                 {{tag}}
/             </span >
/         {{/tags}}
/     </div>
/ </div>
