<div style="padding: 3px; border-bottom: 1px dotted #6b6b6b; margin-bottom: 4px;">
    <div class="cell-title">
        <a href="{{url}}" style="display:inline-block;">{{article_title}}</a>
    </div>
    <small>
        by {{author}} at {{date}}
    </small>
    <div>
        {{#tags}}
            <span class="label label-success">
                {{tag}}
            </span >
        {{/tags}}
    </div>
</div>
