.link_cell

  .cell-title
    = link_to link.title, link

  %small by #{link.author} at #{link.created_at.strftime("%m/%d/%Y")}

  - if link.approved?
    %span.label.label-success.pull-right
      Approved
  - else
    %span.label.label-important.pull-right
      Not approved

  %br
  - if hit.has_key?'highlight' and hit['highlight'].has_key? 'content'
    - att_hits = hit['highlight']['content']

    .hits
      %ol{ :type => "I" }
        - att_hits.each do |h|
          %li
            %p.hit= raw '...' + h + '...'