.species_cell
    / = link_to species,  :class => "btn btn-success btn-mini pull-right" do
    /     / %i.icon-eye-open
    /     Read more
    .cell-title
        / - if hit.has_key?'highlight' and hit['highlight'].has_key? 'title'
        /     = raw hit['highlight']['title'].first
        / - else
        = link_to species.scientific_name, species

    %small by #{species.scientific_name_authorship} at #{species.created_at}
    / %small
    /     %b
    /         Scientist :
    /         = species.scientific_name_authorship

    / - if hit.has_key?'highlight' and hit['highlight'].has_key? 'attachment'
    /     - att_hits = hit['highlight']['attachment']

    /     .hits
    /         %ol{ :type => "I" }
    /             - att_hits.each do |h|
    /                 %li
    /                     %p.hit= raw '...' + h + '...'
    /     / = raw hit['highlight']['attachment'].first
