- content_for :pageheader do
    New document

- content_for :actions do
    = link_to  documents_path, :class => "btn" do
        %i.icon-reply
        Back

= render 'form'

/ = link_to 'Back', documents_path, :class => "btn"
