<div class="row-fluid">
    <div class="page-header" style="margin:0">
        <span class="mini-icon {{image}}"></span>
        <h1 style="display: inline-block">
             {{type}} &nbsp;<small>{{size}}</small>
        </h1>
    </div>
</div>
