<h1>Listing concepts</h1>

/ <%= link_to 'New Concept', new_concept_path
%table.table
    %thead
        %tr
            %th Title
            / %th Definition

    %tbody
        - @concepts.each do |concept|
            %tr
                %td
                    = concept.title
                / %td
                /     = concept.definition

= will_paginate @concepts

