- content_for :pageheader do
  New Indicator

- content_for :actions do
  = link_to indicators_path, class: 'btn btn-default' do
    = fa_icon 'reply'
    Back

= render partial: 'indicators/modals'
= render 'form'
