@import "common"


.doc-preview
    border: 0
    width: 150px
    height: 150px
    margin: 0 auto
    display: inline-block

.file-info
    line-height: 30px

    .remove
        font-size: 12px

    strong
        padding-left: 10px
        padding-right: 10px

#dropzone
    +rounded(5px)
    // border: 3px dashed #cdcdcd
    padding-top: 15px
    // height: 50px
    // width: 250px
    // line-height: 30px
    // text-align: center
    font-weight: bold
    // float: right
    // width: 80%
    // background-image: url('/assets/filetypes/default.png')
    // background-size: 100% 250px

#dropzone.in
    // font-size: larger
    // background: #f9e46d
    // border: 3px dashed #d4c827
    background: #add68e

#dropzone.hover
    // background: #a5c500
    // border: 3px dashed #a5d411
    background: #c3f29f

#dropzone.fade
    -webkit-transition: all 0.3s ease-out
    -moz-transition: all 0.3s ease-out
    -ms-transition: all 0.3s ease-out
    -o-transition: all 0.3s ease-out
    transition: all 0.3s ease-out
    opacity: 1



.filetype
    width: 150px
    height: 150px
    background-size: 150px 150px
    background-repeat: none
    background-image: url('/assets/filetypes/default.png')
.pdf
    @extend .filetype
    background-image: url('/assets/filetypes/pdf.png')
.rtf
    @extend .filetype
    background-image: url('/assets/filetypes/rtf.png')
.word
    @extend .filetype
    background-image: url('/assets/filetypes/doc.png')
.word2010
    @extend .filetype
    background-image: url('/assets/filetypes/docx.png')
.csv
    @extend .filetype
    background-image: url('/assets/filetypes/csv.png')
.excel
    @extend .filetype
    background-image: url('/assets/filetypes/xls.png')
.excel2010
    @extend .filetype
    background-image: url('/assets/filetypes/xlsx.png')
.powerpoint
    @extend .filetype
    background-image: url('/assets/filetypes/ppt.png')
.powerpoint2010
    @extend .filetype
    background-image: url('/assets/filetypes/pptx.png')
.plaintext
    @extend .filetype
    background-image: url('/assets/filetypes/txt.png')

