/******************************************************************************
 * Created by Jon Arrien
 * email  : jarrien@bilbomatica.es
 * twitter: @jonarrien
 *****************************************************************************/

@import "common"


$rad : 7px

$header-color: white
$header-hightlight-color: rgb(114, 122, 134)
$header-background-color: rgb(80, 88, 100)
// $header-hightlight-color: #e2e2e2
// $header-background-color: #b6b6b6

$selection-highlight-color: rgb(69, 199, 235)
$selection-background-color: rgb(38, 152, 219)

$border-color: #a1a1a1
$border-light: #dadada

/*
    MENU
 */
.menu-wrapper
    min-height: 150px
    font-size: 0.8125em
    +rounded($rad)

    ul.menu
        margin-left: 0
        list-style: none
        +shadowed(3px)

    li.item

        a.title

            +gradient( $header-hightlight-color, $header-background-color)

            border-bottom: 1px solid $border-color
            -webkit-box-shadow: inset 0px 1px 0px 0px #878e98
            -moz-box-shadow: inset 0px 1px 0px 0px #878e98
            box-shadow: inset 0px 1px 0px 0px #878e98
            width: 100%
            height: 2.75em
            line-height: 2.75em
            text-indent: 2.75em
            display: block
            position: relative
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
            font-weight: 600
            color: #fff
            text-shadow: 0px 1px 0px rgba(0,0,0,.5)


            &:before
                content: ''
                background-image: url(/assets/sprite.png)
                background-repeat: no-repeat
                font-size: 36px
                height: 1em
                width: 1em
                position: absolute
                left: 0
                top: 50%
                margin: -.5em 0 0 0

            // &:hover
            //     +gradient( $selection-highlight-color, $selection-background-color)

            //     border-bottom: 1px solid $border-color
            //     -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef
            //     -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef
            //     box-shadow: inset 0px 1px 0px 0px #6ad2ef

            span
                font-size: 0.857em
                display: inline-block
                position: absolute
                right: 1em
                top: 50%
                background: #48515c
                line-height: 1em
                height: 1em
                padding: .4em .6em
                margin: -.8em 0 0 0
                color: #fff
                text-indent: 0
                text-align: center
                -webkit-border-radius: .769em
                -moz-border-radius: .769em
                border-radius: .769em
                -webkit-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15)
                -moz-box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15)
                box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .26), 0px 1px 0px 0px rgba(255, 255, 255, .15)
                text-shadow: 0px 1px 0px rgba(0,0,0,.5)
                font-weight: 500

    ul.subitems
        list-style: none
        margin-left: 0

    li.subitem
        border-bottom: 1px solid $border-light
        height: 2.75em
        line-height: 2.75em

        a
            background: #fff
            width: 100%
            height: 2.75em
            line-height: 2.75em
            text-indent: 1.50em
            display: block
            position: relative
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
            font-size: 1em
            font-weight: 400
            color: #51555a

            i
                left: 0

            span
                font-size: 0.857em
                // display: inline-block
                position: absolute
                right: 1em
                top: 50%
                // background: #86a000
                border: 1px solid #d0d0d3
                line-height: 1em
                height: 1em
                padding: .6em .7em
                margin: -1.1em 0 0 0
                // color: #878d95
                text-indent: 0
                text-align: center
                -webkit-border-radius: 5px
                -moz-border-radius: 5px
                border-radius: 5px
                // text-shadow: 0px 0px 0px rgba(255,255,255,.01)

            // &:before
            //     content: ''
            //     background-image: url(/assets/double_right_arrow.gif)
            //     background-repeat: no-repeat
            //     font-size: 36px
            //     height: 1em
            //     width: 1em
            //     position: absolute
            //     left: 7px
            //     top: 7px

            &:hover
                color: white
                text-decoration: none
                +gradient( $selection-highlight-color, $selection-background-color)
                // -webkit-box-shadow: inset 0px 1px 0px 0px #6ad2ef
                // -moz-box-shadow: inset 0px 1px 0px 0px #6ad2ef
                // box-shadow: inset 0px 1px 0px 0px #6ad2ef


    li.subitem.selected
        // +gradient( $selection-highlight-color, $selection-background-color)
        // +gradient( rgb(165, 197, 0), rgb(136, 176, 12) )
        border-left: 1em solid rgb(165, 197, 0)
        text-indent: 0.5em
        // background-color: #dbdbdb
        // font-weight: bold

        a
            float: right
            display: block
            width: 70px



table.table.table-striped
    +shadowed(3px)

    thead th
        +gradient( $header-hightlight-color, $header-background-color)
        color: $header-color
        padding: 5px 8px
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
        font-size: 11px

    tbody td
        font-family: Futura Condensed, Times

    tbody td.actions
        padding: 3px 8px


.pagination
    // background-color: $header-hightlight-color
    +gradient( $header-hightlight-color, $header-background-color)

    border: 1px solid $header-background-color
    color: rgb(34, 34, 34)
    cursor: default
    display: block
    font-family: 'Lucida Grande', Verdana, Helvetica, sans-serif
    font-size: 12px
    font-style: normal
    font-variant: normal
    font-weight: normal
    height: 17px
    line-height: normal

    margin: 18px 0

    padding: 12px
    text-align: center


    a
        border: 1px solid $header-background-color
        background: white
        // border: 1px solid #8aa500
        padding: 5px 8px
        margin: 0
        color: black
        opacity: 0.2
        +rounded(5px)

    em.current
        border: 1px solid $header-background-color
        background: #8aa500
        // border: 1px solid #8aa500
        padding: 5px 8px
        color: white
        +rounded(5px)

    span.disabled
        border: 1px solid $header-background-color
        padding: 5px 8px
        color: #c7c7c7
        +rounded(5px)



footer
    border-top: 1px solid #c9c9c9
    color: #aaaaaa
    text-align: center
    padding: 10px 20px
    margin-top: 15px
    margin-left: 20px
    margin-right: 20px
