.species_cell
  .cell-title
    - if hit.has_key?'highlight' and hit['highlight'].has_key? 'binomial_name'
      = link_to raw(hit['highlight']['binomial_name'][0]), species
    - else
      = link_to species.binomial_name, species
  %small
    %strong
      Authorship:
    = species.scientific_name_authorship
