%legend Info

.row-fluid
    .span9
        = f.input :title, :placeholder => 'Example Article' , :input_html => { :class => "input-block-level" }
        / = f.input :language, :as => :select, :collection => languages, include_blank: true, :input_html => { :class => "input-block-level" }
    .span3
        = f.association :site , :input_html => { :class => "input-block-level"}
.row-fluid
    .span9
        = f.input :english_title, :placeholder => 'Example Document', :input_html => { :class => "input-block-level" }
    .span3
        .control-group.required.article_published
            = f.input :published, as: :radio_buttons

            / %label.required.control-label{ :for => "article_published" }
            /     Published
            / .controls
            /     .btn-group
            /         %a.btn NO
            /         %a.btn.btn-success.active YES
