#targets

    %legend
        Targets & Actions:

    / .container-fluid
    /     .row-fluid
    /         .span12
    /             %div#targets_tree{ :name => 'targets', :style => 'height: 400px;', :data => { :selected => parent.concepts.map(&:id) } }





    / .tabbable
    /     %ul.nav.nav-tabs
    /         %li.active
    /             %a{ :href => '#tab1', :data => { :toggle => 'tab' } }
    /                 Section 1
    /         %li
    /             %a{ :href => '#tab2', :data => { :toggle => 'tab' } }
    /                 Section 2
    /     .tab-content
    /         .tab-pane.active#tab1
    /             %p sdkl;jsdfo;iweioefgwhio[efgwhio]
    /         .tab-pane#tab2
    /             %p sdkl;jsdfo;iweioefg#E###EEEEE




    .tabbable.tabs-left

        %ul.nav.nav-tabs
            - @targets.each_with_index do |t, i|
                - if i == 0
                    %li.active
                        %a{ :href => '#panel'+i.to_s, :data => { :toggle => 'tab' } }
                            = t.short_desc
                - else
                    %li
                        %a{ :href => '#panel'+i.to_s, :data => { :toggle => 'tab' } }
                            = t.short_desc

        .tab-content
            - @targets.each_with_index do |t, i|
                - if i == 0
                    .tab-pane.active{ :id => '#panel' + i.to_s }
                        %p
                            I'm a section
                            = i.to_s
                - else
                    .tab-pane{ :id => '#panel' + i.to_s }
                        %p
                            I'm a section
                            = i.to_s


