%legend
  Tags

= f.input :tag_list,
          as: :grouped_select,
          collection: KeywordContainer.all,
          group_method: :keywords,
          group_label_method: :title,
          input_html: { class: 'tag-select input-block-level', multiple: true }


%legend
  Biodiversity

.row-fluid
  .span6
    = f.input :biographical_region, as: :select, collection: biographical_regions, include_blank: true , input_html: { class: "input-block-level bise-select"}


